* {
	margin: 0;
	padding: 0;
}

.clear {
	clear:both;
}

body {
	background: url(../images/backdround.jpg) fixed;
	background-size: 100%;
}

.main_wraper {
	width: 1000px;
	margin: 0px auto;
}

.logo {
	margin-top: 20px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 10px; 
	background-color: rgba(0,153,204,0.8);
	border-radius: 8px;
}

.logo span {
	display: block;
	text-align: center;
	font: 36px bold;
	color: white;
	font-family: Arial;
}

.logo p {
	text-align: center;
	font: 11px bold;
	color: white;
	font-family: Arial;
}

.menu {
	width: 100%;
	float: left;
	border-radius: 8px 8px 0 0;
	background-color: #0099cc;
}

.menu ul {
	display: block;
	float: left;
	list-style: none;
	padding: 0px;
	margin-top: 16px;
}

.menu ul li {
	float: left;
	display: inline;
	color: #fada2a;
	font-size: 14px;
	height: 22px;
}

.menu ul li a {
	text-decoration: none;
	color: white; 
	font: 18px bold;
	font-family : Arial;
	padding: 15px;
}

.menu ul li a:hover {
	background-color: #0082b4;
    border-radius: 8px 8px 8px 8px;
}

.contact {
	float: right;
	padding: 10px;
	color: white;
	font: 14px bold;
	font-family : Arial;
}

.sity_filter {
	background-color: white;
	border-radius: 0 0 8px 8px;
	padding: 5px 10px;
}

.sity_filter ul {
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sity_filter ul li {
	display: inline;
	color: #fada2a;
	font-size: 14px;
	height: 40px;
	margin-right: 5px;
}

.sity_filter ul li a{
	padding: 10px;
	text-decoration: none;
	font: 14px bold;
	font-family : Arial black;
	color: #4682B4;
	background-color: rgba(0,153,204,0.2);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.sity_filter ul li a:hover {
	background-color: rgba(0,153,204,1);
	color: white;
    box-shadow: 0px 2px 4px gray;
}

.tour {
	float: left;
	height: 350px;
	width: 200px;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius:10px;
	margin-right: 66.66px;
    box-shadow: 1px 6px 3px 0px #888;
}

.tour:nth-of-type(4n) {
	float: left;
	height: 350px;
	width: 200px;
	background-color: white;
	border-radius:10px;
	margin-right: 0px;
}

.tour img {
	width: 100%;
	border-radius:10px 10px 0 0;
	height: 125px;
	
}

.image p{
	position: absolute;
	color: white;
	margin-top: -23px;
	margin-left: 120px;
	padding-right: 30px;
	padding-left: 5px;
	background-color: rgba(0,153,204,0.8);
	width: 45px;
}

.title {
	height: 60px;
	margin: 5px;
	font: 18px bold;
	font-family : Arial;
}

.title a {
	text-decoration: none;
	color: black;
}

.title a:hover {
	color: #0099cc;
}

.text {
	height: 110px;
	margin: 5px;
	font: 14px bold;
	font-family : Arial;
}

.text p {
	position: absolute;
	width: 190px;
	overflow: hidden;
}

.information {
	position: inherit;
	text-align: center;
	height: 20px;
	border-radius: 0 0 10px 10px;
	background-color: #0099cc;
	padding: 10px;
}

.information a {
	color: white;
	text-decoration: none;
	font: 14px bold;
	font-family : Arial;
	padding: 11px 55px 13px;
}

.wrap {
    float: left;
    width: 65%;
}

.tour_item {
	margin-top: 20px;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.tour_item h1 {
	color: rgba(0,153,204,0.8);
}

.tour_item p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tour_item .date {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: bolder;
    margin: 6px 2px;
}

.comments {
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.comments h2 {
    color: rgba(0,153,204,0.8);
}

.comments .comment {
    margin: 20px 10px;
    width: 90%;
}

.comments .comment strong {
    font-size: 20px;
    float: left;
}

.comments .comment p {
    margin: 5px 0px;
}

.comments .comment span {
    color: #9c9c9c;
    float: right;
    font-size: 14px;
}

.comments .leave-comment {
    margin: 20px 10px 10px;
    width: 90%;
}

.comments label {
    font-size: 18px;
    display: block;
    margin: 18px 8px 10px;
}

.comments .input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
    font-size: 15px;
    font-family: 'Arial';
}

.comments textarea {
    resize: none;
    height: 80px;
}

.comments .btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    font: 14px bold;
    font-family : Arial black;
    color: #4682B4;
    background-color: rgba(0,153,204,0.2);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.comments .btn:hover {
    background-color: rgba(0,153,204,1);
    color: white;
    box-shadow: 0px 2px 4px gray;
}

.news {
	width: 27%;
	float: right;
	margin-top: 20px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.news h2 {
	border-bottom: 2px solid #0099cc;
}

.news p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.article {
	margin-top: 5px;
	margin-bottom: 5px;
}
